<!DOCTYPE html>
<html>
  <head>
  {% block head %}
    <title>MIDI Jam Session - {% block title %}{% endblock %}</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">

    <!-- Google Monofett webfont for fancy titles and buttons and... -->
    <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>

    <!-- Optional theme -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap-theme.min.css">

    <!-- Our custom CSS file -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <!-- Socket.io script -->
    <script src="/socket.io/socket.io.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}
  </head>

  <body>
    <iframe src="http://nodeknockout.com/iframe/rocket" frameborder=0 scrolling=no allowtransparency=true width=115 height=25></iframe>

    <div class="container">
      <span class="big-title">MIDI Jam</span>
      {% block content %}
      {% endblock %}
      <div id="nav-links">
        <a href="/client.tar.gz">Download Node.JS Client (Linux)</a> | 
        <a href="/README">README</a> | 
        <a href="/">Home</a>
      </div>
    </div>

    <div id="footer">
      {% block footer %}
      {% endblock %}
    </div>

  </body>
</html>
