{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block head %}
  {{ super() }}
  <script src='/js/home.js'></script>
{% endblock %}

{% block content %}

  <!-- Screen displaying big ol' click me button -->
  <div id="intro-screen">
    <button id="create-jam" type="button" class="btn btn-primary btn-lg">Start a Jam</button>
  </div>

  <!-- Screen that displays information about the jam circle, maybe have a chat here? -->
  <div id="information-screen" class="control-panel">
    <h2>Room information</h2>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label for="master-port" class="col-sm-2 control-label">Master:</label>
        <div class="col-sm-10">
          <input type="text" id="master-port" class="copy-me col-sm-6">
        </div>
      </div>

      <div class="form-group">
        <label for="slave-port" class="col-sm-2 control-label">Slave:</label>
        <div class="col-sm-10">
          <input type="text" id="slave-port" class="copy-me col-sm-6">
        </div>
      </div>
    </form>
    <br/>
    <em>NOTE:</em> Slaves can only connect once the master client has made a network connection!
  </div>

{% endblock %}
