{% extends "base.html" %}
{% block title %}Instructions{% endblock %}

{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
    <div class="control-panel">
      <p>The address provided is for the local clients to send and recieve MIDI data,
        not for your web browser!  Please watch the demo video to understand how to get
        up and running.  Have fun!</p>
      </div>
{% endblock %}
