{% extends "base.html" %}
{% block title %}Instructions{% endblock %}

{% block content %}

<h2>Quick start:</h2>

<p>
  <a href="/client.tar.gz">Download the client</a>, currently it only supports linux as it reads/writes to an ALSA file.  Un(tar/gzip) the file and inside the /client folder run ./run.sh.  Point your browser to <a href="http://localhost:8080">http://localhost:8080</a>.
</p>

<p>
  Click the big <a href="/">"Create a Jam" button on the main page</a> and select whether you are master or slave by connecting the client to the correct port.
</p>

<h2>High level explanation:</h2>

<ul>
  <li>Alice and Bob both have MIDI sequencers.</li>
  <li>Alice and Bob would like to sync their instruments, but they don't have a 2000 mile long MIDI cable.</li>
</ul>

<img class="img-responsive readme-img" src="images/readme1.png"> 

<strong>With MIDI Jam they can create a MIDI connection over the internet.</strong>

<h2>Here's how:</h2>
<ol>
  <li>Both Alice and Bob download the Node.JS client software and configure it to read their MIDI interfaces.</li>
  <li>Alice goes to http://rocket.2013.nodeknockout.com/ and creates a jam room and sends bob the URL over IM</li>
  <li>Alice connects her client to the "Master connection" and she will be sending the MIDI sync signal (and all other MIDI signals) to the midi slaves that connect.</li>
  <li>Bob connects his client to the "Slaves connection" and his computer's MIDI output is now streaming Alice's signals to his setup!</li>
  <li>When Cathy IMs Bob asking to join, he sends her the URL and she uses the Slaves connection to also begin using Alice's MIDI signals.</li>
</ol>

<p>They can then each individually record their tracks and send the files to eachother to mix themselves.</p>

<img class="img-responsive readme-img" src="images/readme2.png"> 

<em>Well done guys!</em>

{% endblock %}
