body {
  background-color: #EEF2FF;
}

.readme-img {
  display: block;
  margin: 10px auto;
}

.big-title {
  font-family: 'Monofett', sans-serif;
  font-size: 9em;
  text-align: center;
  margin: 20px auto;
  width: 290px;
  display: block;
  line-height: 80px;
}

.control-panel {
  background-color: #FFF;
  width: 700px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
}

#create-jam {
  font-family: 'Monofett', sans-serif;
  font-size: 4em;
  margin: 40px auto;
  display: block;
}

#information-screen {
  display: none;
}

#nav-links {
  text-align: center;
}

// Makes the logo responsive properly
@media (min-width: 970px) {
  .big-title {
    font-size: 14em;
    width: 500px;
    line-height: 127px;
  }
}
