.LED {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  border: 2px #333 solid;
  float: left;
  margin-right: 3px;
  margin-top: -10px;
}

.sync-led {
  background-color: #014D05; // The 'off' color
}

.activity-led {
  background-color: #9B0005; // The 'off' color
}
